<h1>extras new template render</h1>

<%# partials are reusable templates %>
<%# partials are always start with underscores (_) %>
<%# <%= render partial: 'common_templates/example_partial' %>
<%= render 'common_templates/example_partial'  %> <%# same as above %>